@import "tailwindcss";

body {
  cursor: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAFJSURBVHgB7ZXBDcIwDESfK8AJjMAJjMAJjMAJjMAJjIA6gTGYgBO6QScoShTFUdKehD6JSOzEfu/sJgAAAP8sXdelNE3z1HX9cs7dPvE8796Lc+6e5/lD13Xp14Cs67o9iqKntfYcx/G9LMu3aZqX9/5irT2FYXgry/LwUUC+rushCIIby/NhGF7Lsjx+FJCXZRkMw/BM0/QWRdGjKIqL7/2apnnHcXyVZXn0UUBeVVUwjuMzTdN7mqbXoijOvvdr27b3NE3vRVGcPgqo1XU9WGtPWZbdsiy7bJ7v6rpe8jw/W2tPdV0PPgqo+b8/5Hl+T9P0lqbpzfd+TdO84zi+xnF8zfP8oq4BAAAA/8ALw3B2zl3XdX2s67qsy2JZlnlZlnlZ13VZ13VZt8uyLPM0TfOyLPMwDOcvYwAAAPy6N7r5Jb0ZeltvAAAAAElFTkSuQmCC') 0 0, auto;
}

html {
  scroll-behavior: smooth;
}

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce-slow {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

.animate-spin-slow {
  animation: spin-slow 3s linear infinite;
}

.animate-bounce-slow {
  animation: bounce-slow 2s infinite;
}
